:root {
    --color-brand-light: #CFCFBC;
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-decoration: #A18268;
    --color-modal-fon: #31261a66;
}