:root {
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
    --color-brand-light: #819b57;
    --color-brand-dark: #465929;
    --color-copyright: #a28268;
    --color-decor-primary: #cfcfbc;
    --color-decor-secondary: #a18268;
}

// SCSS переменные

    $bp-mobile: 480px;
    $bp-tablet: 768px;
    $bp-desktop: 1280px;