/* -- advantages section -- */
.advantages-section {
    background-color: var(--color-brand-normal);
    padding: 16px 0;
}

.advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

.advantages-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}